.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
}

.header {
  font-size: 24px;
  font-weight: bold;
}

.body {
  margin: 20px 20px 0 20px;
  min-width: 250px;
}

.currentRate {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: center;
}

.disabled {
  cursor: default !important;
}
