.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 600px;
}

.header {
  font-size: 24px;
}

.body {
  margin: 20px 20px 0 20px;
  min-width: 250px;
}

.rate {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 25px;
}

.swap {
  position: absolute;
  left: 0;
  top: -4px;
  cursor: pointer;
}

.rateText {
  font-weight: 400;
}

.footer {
  display: flex;
  justify-content: center;
}

.disabled {
  cursor: default !important;
}
